<h2>Important announcements</h2>

<ul>
  {{#each model as |announcement|}}
    {{announcement-title announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
  {{/each}}
</ul>

{{new-announcement save2="save3"}}

{{#link-to 'index'}}Home{{/link-to}}
