<h1>Welcome to Super Rentals</h1>

<ul>
  {{#each model as |rental|}}
    {{rental-title rental=rental}}
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
