<h1>Welcome to Super Rentals</h1>

<ul>
  {{#each model as |rental|}}
    {{rental-title rental=rental destroyRental="destroyRental"}}
  {{/each}}
</ul>

{{new-rental save2="save3"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
